<mapper namespace="com.wt.test.wolverine.infra.graph.dao.EdgeMapper">
    <insert id="createEdge">
        INSERT EDGE IF NOT EXISTS ${ edge.type } (ctime)
        VALUES '${ edge.fromId }' -> '${ edge.toId }' : (${ edge.createTime })
    </insert>

    <delete id="deleteEdge">
        DELETE EDGE ${ edge.type } '${ edge.fromId }' -> '${ edge.toId }
    </delete>

    <select id="queryEdgeBidirection">
        MATCH (v1:vertexAType)-[e:${ type }]-(v2:vertexBType)
        WHERE id(v1) == '${ vertexAId }' and id(v2) == '${ vertexBId }'
        RETURN id(v1) as fromId, tags(v1)[0] as fromType ,
        id(v2) as toId, tags(v1)[0] as toType ,
        properties(e).ctime as createTime
    </select>
</mapper>